.emailList {
  flex: 1;
  overflow: scroll;
}

.emailList__settings {
  position: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid whitesmoke;
  background-color: white;
  z-index: 999;
  padding-right: 10px;
}

.emailList__settingsLeft {
  display: flex;
  align-items: center;
}

.emailList__settingsLeft > .MuiSvgIcon-root {
  color: #757575;
}

.emailList__sections {
  position: sticky;
  top: 0;
  display: flex;
  background-color: white;
  border-bottom: 1px solid whitesmoke;
  z-index: 999;
}
